<section class="PageHead">
  <div class="AdContainer">
    <div class="row">
      <div class="columns large-12 medium-12 medium-centered large-centered">
          <div class="AdArea">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- ????? -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:728px;height:90px"
                 data-ad-client="ca-pub-9051649943133421"
                 data-ad-slot="1612164192"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </div>
      </div>
    </div>
  </div>
</section>
<section class="PageTitle">
  <div class="row">
    <div class="columns large-12 medium-12 medium-centered large-centered">
      <h2><%= t("resend_confirmation")%></h2>
    </div>
  </div>
</section>
<section class="DeviseForms">
  <div class="row">
    <div class="columns FormContainer large-6 medium-6 small-12 large-centered medium-centered">
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label t(:email) %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="actions text-center">
          <%= f.submit t("resend_confirmation"), :class => 'button tiny buttoncustom createCar' %><br>
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>
</section>

