<%= form_for(@model) do |f| %>
  <% if @model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@model.errors.count, "error") %> prohibited this model from being saved:</h2>

      <ul>
      <% @model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.label :parent_id %>
    <%= collection_select(:model, :parent_id, Make.all, :id, :title) %>
  </div>
  <%if I18n.locale == :en %>
    <% Globalize.with_locale(:ar) do %>
      <div class="field">
        <%= f.label :title, "Arabic Title" %><br>
        <%= @model.title %>
      </div>
    <% end %>
    <div class="field">
        <%= f.label :title, "English Title" %><br>
        <%= f.text_field :title %>
      </div>
  <% else %>
    <% Globalize.with_locale(:en) do %>
      <div class="field">
        <%= f.label :title, "English Title" %><br>
        <%= @model.title %>
      </div>
    <% end %>
    <div class="field">
      <%= f.label :title, "Arabic Title" %><br>
      <%= f.text_field :title %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
