<%= form_for(@make) do |f| %>
  <% if @make.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@make.errors.count, "error") %> prohibited this make from being saved:</h2>

      <ul>
      <% @make.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title_ar, "Arabic Title" %><br>
    <%= f.text_field :title_ar %>
  </div>
  <div class="field">
    <%= f.label :title_en, "English Title" %><br>
    <%= f.text_field :title_en %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
