<%= form_for(@make) do |f| %>
  <% if @make.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@make.errors.count, "error") %> prohibited this make from being saved:</h2>

      <ul>
      <% @make.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%if I18n.locale == :en %>
    <% Globalize.with_locale(:ar) do %>
      <div class="field">
        <%= f.label :title, "Arabic Title" %><br>
        <%= @make.title %>
      </div>
    <% end %>
    <div class="field">
        <%= f.label :title, "English Title" %><br>
        <%= f.text_field :title %>
      </div>
  <% else %>
    <% Globalize.with_locale(:en) do %>
      <div class="field">
        <%= f.label :title, "English Title" %><br>
        <%= @make.title %>
      </div>
    <% end %>
    <div class="field">
      <%= f.label :title, "Arabic Title" %><br>
      <%= f.text_field :title %>
    </div>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
