<% 
  set_meta_tags title: 'Admin Panel',
                description: "All text about keywords, other keywords",
                keywords: %w[asd asdd qwe asddsa] ,
                author: "http://yourgplusprofile.com/profile/url",
                publisher: "http://yourgplusprofile.com/profile/url",
                og: {
                  title:    'Two structured image properties',
                  type:     'website',
                  url:      'view-source:http://examples.opengraphprotocol.us/image-array.html',
                  image:    [{
                    _: 'http://examples.opengraphprotocol.us/media/images/75.png',
                    width: 75,
                    height: 75,
                  },
                  {
                    _: 'http://examples.opengraphprotocol.us/media/images/50.png',
                    width: 50,
                    height: 50,
                  }]
                },
                twitter: {
                  card:  "photo",
                  image: {
                    _:      "http://example.com/1.png",
                    width:  100,
                    height: 100,
                  }
                }
%>
<section class="PageHead">
  <div class="AdContainer">
    <div class="row">
      <div class="columns large-12 medium-12 medium-centered large-centered">
        <div class="AdArea">Advertisement Area</div>
      </div>
    </div>
  </div>
</section>
<section class="PageTitle">
  <div class="row">
    <div class="columns large-12 medium-12 medium-centered large-centered">
      <h2>Admin Panel</h2>
    </div>
  </div>
</section>
<section class="NewCar">
  <div class="row">
    <div class="columns large-12 medium-12 medium-centered large-centered">
    	<ul>
    		<li><%= link_to 'Cars', admin_car_cars_path() %></li>
        <li><%= link_to 'Dealers', admin_dealer_dealers_path() %></li>
        <li><%= link_to 'Members', admin_member_members_path() %></li>
				<li><%= link_to 'Car Make', makes_path() %></li>
				<li><%= link_to 'Car Model', models_path() %></li>
				<li><%= link_to 'Comfort Interiors', comfort_interiors_path() %></li>
				<li><%= link_to 'Interior Design', interior_designs_path() %></li>
				<li><%= link_to 'Color', colors_path() %></li>
				<li><%= link_to 'Interior Color', interior_colors_path() %></li>
				<li><%= link_to 'Safety Features', safety_features_path() %></li>
			</ul>
    </div>
  </div>
</section>

