<p id="notice"><%= notice %></p>

<h1>Listing Interior Colors</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interior_colors.each do |interior_color| %>
      <tr>
        <td><%= interior_color.title %></td>
        <td><%= link_to 'Show', interior_color %></td>
        <td><%= link_to 'Edit', edit_interior_color_path(interior_color) %></td>
        <td><%= link_to 'Destroy', interior_color, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Interior color', new_interior_color_path %>
