<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div dir="ltr">
    <div class="gmail_quote">
      <div style="word-wrap:break-word">
        <div>
          <div>
            <div>
              <br>
              <div>
              <center style=
              "font-size:12px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:normal;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;">
              <table border="0" cellpadding="0" cellspacing="0" style=
              "border-spacing:0px;margin:0px;color:rgb(122,122,122);font-weight:normal;width:100%!important;max-width:100%!important;padding:0px;height:100%!important;table-layout:fixed;min-width:100%!important"
                width="100%">
                  <tbody>
          <tr height="20">
          </tr>
                    <tr>
                      <td align="center" style=
                      "margin:0px;padding:0px;height:100%!important;width:100%!important"
                      valign="top">
                        <table border="0" cellpadding="0"
                        cellspacing="0" style=
                        "border-spacing:0px;"
                        width="600">
                          <tbody>
                            <tr>
                              <td align="center" valign="top">
                                <table border="0" cellpadding="0" cellspacing=
                                "0" style="border-spacing:0px" width="100%">
                                  <tbody>
                                    <tr>
                                      <td align="center" valign="top">
                                        <table border="0" cellpadding="0"
                                        cellspacing="0" style=
                                        "border-spacing:0px" width="600">
                                          <tbody>
                                            <tr>
                                              <td valign="top" width="600">
                                                <table align="center" border=
                                                "0" cellpadding="0"
                                                cellspacing="0" style=
                                                "border-spacing:0px" width=
                                                "100%">
                                                  <tbody>
                                                    <tr>
                                                      <td></td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table border="0" cellpadding="0"
                        cellspacing="0" style=
                        "border-spacing:0px;"
                        width="600">
                          <tbody>
                            <tr>
                              <td align="center" valign="top">
                                <table border="0" cellpadding="0" cellspacing=
                                "0" style="border-spacing:0px" width="100%">
                                  <tbody>
                                    <tr>
                                      <td align="center" valign="top">
                                        <table border="0" cellpadding="0"
                                        cellspacing="0" style=
                                        "border-spacing:0px" width="600">
                                          <tbody>
                                            <tr>
                                              <td valign="top" width="600">
                                                <table align="center" border=
                                                "0" cellpadding="0"
                                                cellspacing="0" style=
                                                "border-spacing:0px" width=
                                                "100%">
                                                  <tbody>
                                                    <tr>
                                                      <td align="center" style=
                                                      "display:block;text-align:center"
                                                      valign="top">
                                                        <table border="0"
                                                        cellpadding="0"
                                                        cellspacing="0" style=
                                                        "border-spacing:0px;max-width:100%"
                                                        width="100%">
                                                          <tbody>
                                                            <tr>
                                                              <td align=
                                                              "center">
                                                              <%= link_to (image_tag image_path("Logo2.png",:style => "border:0px none rgb(255,255,255);outline:none;text-decoration:none;min-height:auto;line-height:16px;display:inline-block!important;color:rgb(102,102,102);font-size:16px", size: "250x52")),root_url,:style => "text-decoration:none!important" %>
                                                              </td>
                                                            </tr>
                                                            <tr height="20"></tr>
                                                          </tbody>
                                                        </table>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table bgcolor="#FFFFFF" border="0" cellpadding="0"
                        cellspacing="0" style=
                        "border-spacing:0px;background-color:rgb(255,255,255);border:1px solid rgb(224,225,226);border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px"
                        width="600">
                          <tbody>
                            <tr>
                              <td align="center" valign="top">
                                <table bgcolor="#f25c24" border="0"
                                cellpadding="0" cellspacing="0" style=
                                "border-spacing:0px;color:rgb(255,255,255);border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:0px;border-bottom-left-radius:0px"
                                width="100%">
                                  <tbody>
                                    <tr>
                                      <td align="center" valign="top">
                                        <table border="0" cellpadding="0"
                                        cellspacing="0" style=
                                        "border-spacing:0px" width="600">
                                          <tbody>
                                            <tr>
                                              <td align="center" valign="top"
                                              width="600">
                                                <table border="0" cellpadding=
                                                "2" cellspacing="0" style=
                                                "border-spacing:0px" width=
                                                "100%">
                                                  <tbody>
                                                    <tr>
                                                      <td align="center" style=
                                                      "color:rgb(107,112,117);font-size:1px;line-height:1.25px;text-align:left;padding-bottom:2px"
                                                      valign="top"></td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td align="center" valign="top">
                                <table border="0" cellpadding="0" cellspacing=
                                "0" style=
                                "border-spacing:0px;color:rgb(107,112,117);border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:0px;border-bottom-left-radius:0px"
                                width="100%">
                                  <tbody>
                                    <tr>
                                      <td align="center" valign="top">
                                        <table border="0" cellpadding="0"
                                        cellspacing="0" style=
                                        "border-spacing:0px" width="600">
                                          <tbody>
                                            <tr>
                                              <td align="center" valign="top"
                                              width="600">
                                                <table border="0" cellpadding=
                                                "30" cellspacing="0" style=
                                                "border-spacing:0px;padding-top:15px"
                                                width="100%">
                                                  <tbody>
                                                    <tr>
                                                      <td align="center" style=
                                                      "color:rgb(107,112,117);font-size:16px;line-height:20px;text-align:left"
                                                      valign="top">
                                                        <h1 style=
                                                        "color:rgb(54,60,67);font-weight:500;font-size:30px;line-height:37.5px;text-align:center;letter-spacing:normal;margin:0px 0px 20px;padding:0px;display:block;font-style:normal">
                                                        Hello, <%= @owner.email %></h1>
                                                        <div style=
                                                        "text-align:center;font-size:16px;margin-bottom:0px;color:rgb(107,112,117);line-height:21.600000381469727px">
                                                        <%= @name %> is intersted in your <%=@carid.title %>
                                                        </div>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td align="center" valign="top">
                                <table border="0" cellpadding="0" cellspacing=
                                "0" style="border-spacing:0px" width="100%">
                                  <tbody>
                                    <tr>
                                      <td align="center" valign="top">
                                        <table border="0" cellpadding="0"
                                        cellspacing="0" style=
                                        "border-spacing:0px" width="600">
                                          <tbody>
                                            <tr>
                                              <td align="center" valign="top"
                                              width="600">
                                                <table border="0" cellpadding=
                                                "30" cellspacing="0" style=
                                                "border-spacing:0px;padding-bottom:0px!important;padding-top:0px!important"
                                                width="100%">
                                                  <tbody>
                                                    <tr>
                                                      <td align="center" style=
                                                      "padding-top:0px;padding-bottom:0px"
                                                      valign="top">
                                                        <table border="0"
                                                        cellpadding="0"
                                                        cellspacing="0" style=
                                                        "border-spacing:0px"
                                                        width="100%">
                                                          <tbody>
                                                            <tr>
                                                              <td align=
                                                              "center" style=
                                                              "border-top-width:1px;border-top-style:solid;border-top-color:rgb(222,223,224)"
                                                              valign="top">
                                                              </td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td align="center" valign="top">
                                <table border="0" cellpadding="0" cellspacing=
                                "0" style="border-spacing:0px" width="100%">
                                  <tbody>
                                    <tr>
                                      <td align="center" valign="top">
                                        <table border="0" cellpadding="0"
                                        cellspacing="0" style=
                                        "border-spacing:0px" width="600">
                                          <tbody>
                                            <tr>
                                              <td align="center" valign="top"
                                              width="600">
                                                <table border="0" cellpadding=
                                                "30" cellspacing="0" style=
                                                "border-spacing:0px" width=
                                                "100%">
                                                  <tbody>
                                                    <tr>
                                                      <td align="center"
                                                      valign="top">
                                                        <table border="0"
                                                        cellpadding="0"
                                                        cellspacing="0" style=
                                                        "border-spacing:0px"
                                                        width="100%">
                                                          <tbody>
                                                            <tr>
                                                              <td style=
                                                              "color:rgb(107,112,117);font-size:16px;line-height:20px;text-align:left"
                                                              valign="top">
                                                                <div style=
                                                                "text-align:center;font-size:16px;margin-bottom:0px;margin-top:3px;color:rgb(107,112,117);line-height:21.600000381469727px">
                                                                  you can contact him on <%=@email%>
                                                                </div>
                                                              </td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td align="center" valign="top">
                                <table border="0" cellpadding="0" cellspacing=
                                "0" style="border-spacing:0px" width="100%">
                                  <tbody>
                                    <tr>
                                      <td align="center" valign="top">
                                        <table border="0" cellpadding="0"
                                        cellspacing="0" style=
                                        "border-spacing:0px" width="600">
                                          <tbody>
                                            <tr>
                                              <td align="center" valign="top"
                                              width="600">
                                                <table border="0" cellpadding=
                                                "30" cellspacing="0" style=
                                                "border-spacing:0px" width=
                                                "100%">
                                                  <tbody>
                                                    <tr>
                                                      <td align="center"
                                                      valign="top">
                                                        <table border="0"
                                                        cellpadding="0"
                                                        cellspacing="0" style=
                                                        "border-spacing:0px"
                                                        width="100%">
                                                          <tbody>
                                                            <tr>
                                                              <td style=
                                                              "color:rgb(107,112,117);font-size:16px;line-height:20px;text-align:left"
                                                              valign="top">
                                                                <div style=
                                                                "text-align:center;font-size:16px;margin-bottom:0px;margin-top:3px;color:rgb(107,112,117);line-height:21.600000381469727px">
                                                                  <%=@message%>
                                                                </div>
                                                              </td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>