<%= form_for @user , :url => url_for(:controller => 'dealers', :action => 'update_password') do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.fields_for :user do |u| %>
    <div class="col-lg-6">
      <%= u.label t(:password) %><br>
      <%= u.password_field :password %>
    </div>
    
    <div class="col-lg-6">
      <%= u.label t(:password_confirmation) %><br>
      <%= u.password_field :password_confirmation %>
    </div>
  <% end %>
  <div class="actions text-center">
    <%= f.submit t("update_password"), :class => 'button tiny buttoncustom' %>
  </div>
<% end %>