<%= form_for(@dealer) do |f| %>
  <% if @dealer.errors.any? %>
    <div data-alert class="alert-box warning">
      <ul>
      <% @dealer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="userInfo large-6 columns">
    <div class="field">
      <%= f.label t(:gallery_name) %>
      <%= f.text_field :gallery_name %>
    </div>
    <div class="field">
      <%= f.label t(:name) %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label t(:phone_number) %>
      <%= f.text_field :phone_number %>
    </div>
    <div class="field">
      <%= f.label t(:mobile_number) %>
      <%= f.text_field :mobile_number %>
    </div>
    <div>
      <%= f.label t("city") %>
      <%= f.select :city, Dealer::City.map{ |s| [s[1] , s[0]] } %>
    </div>
    <div class="field">
      <%= f.label t(:gallery_location) %>
      <%= f.text_area :gallery_location %>
    </div>
    <div class="field">
      <%= f.label t(:street_name) %>
      <%= f.text_field :street_name %>
    </div>
    <div class="field">
      <%= f.label t(:building_number) %>
      <%= f.text_field :building_number %>
    </div>
  </div>
  <div class="userLoginInfo large-6 columns">
    <div class="innerUserLoginInfo">
      <%= f.fields_for :user do |u| %>
        <div class="field">      
          <%= u.label t(:email) %>
          <%= u.text_field :email %>
        </div>
        
        <div class="field">
          <%= u.label t(:password) %>
          <%= u.password_field :password %>
        </div>
        
        <div class="field">
          <%= u.label t(:password_confirmation) %>
          <%= u.password_field :password_confirmation %>
        </div>    
      <% end %>   
      <div class="actions text-center">
        <%= f.submit t("sign_in"), :class => 'button tiny buttoncustom createCar' %>
      </div>
    </div>
  </div>
  
<% end %>