<% 
	set_meta_tags title: @dealer.gallery_name,
                keywords: @customKeywords + "," + @dealer.gallery_name,
                author: @dealer.gallery_name,
                publisher: @dealer.gallery_name
	if(!@dealer_cars.blank?)
	  	set_meta_tags  og: {
  		og:{
	      title:    @dealer.gallery_name,
	      type:     'website',
	      url:      request.original_url,
	      image:    [{
	        _: "http://"+request.domain+@dealer_cars.last.car_images[0].image.url(:large),
	        width: 470,
	        height: 338,
	      }]
	    },
	    twitter: {
	      card:  "photo",
	      image:    {
	        _: "http://"+request.domain+@dealer_cars.last.car_images[0].image.url(:large),
	        width: 470,
	        height: 338,
	      }
	    }
	  }  
	end
%>
<section class="PageHead">
  <div class="AdContainer">
    <div class="row">
      <div class="columns large-12 medium-12 medium-centered large-centered">
          <div class="AdArea">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- ????? -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:728px;height:90px"
                 data-ad-client="ca-pub-9051649943133421"
                 data-ad-slot="1612164192"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </div>
      </div>
    </div>
  </div>
</section>
<section class="PageTitle">
  <div class="row">
    <div class="columns large-12 medium-12 medium-centered large-centered">
      <h2 class="detailedTitle"><span><%= @dealer.gallery_name %></span></h2>
    </div>
  </div>
</section>
<section class="UserInfoSection">
	<div class="row">
		<div class="large-8 columns car-search">
	      <ul class="ulStyle">
	      <% @dealer_cars.each do |s| %>
	        <li class="carsItem clearfix">
	          <%= link_to (image_tag s.car_images[0].image.url(:medium)), s ,:class => "carimage" %>
	          <ul class="ulStyle infolist">
	            <li class="title"><span><%= get_make(s.car_make) %></span> <span class=""><%= get_model(s.car_model) %></span></li>
	            <li class="desc">
	            <%= truncate(s.description , :length => 200,  :separator => ' ') do
	              link_to t("see_more") ,car_path(s,:anchor => "Description")
	            end %>
	            </li>
	            <li class="info">
	              <span class="mileage"><i class="fa fa-tachometer"></i><%= s.mileage%><%= t("KM") %></span>
	              <span class="year"><%= s.year %></span>
	              <span class="price"><%= s.price %> <%=t("JD")%></span>
	            </li>
	          </ul>
	          <%= link_to(('<i class="fa fa-cog"></i>').html_safe , edit_car_path(s.id),:class => "carEdit") %>
	        </li>
	      <% end %>
	      </ul>
	      <div class="pagerArea pagination-centered">
	        <%= will_paginate @dealer_cars %>  
	      </div>
	    </div>
		<div class="columns large-4 medium-4 UserInfo" >
			<ul class="ulStyle">
				<li class="text-center Title"><%=t("dealer_information")%></li>
				<li>
					<%=t("name")%> :<span><%= @dealer.name %></span>
			  	</li>
			  	<li>
					<%=t("phone_number")%> : <span><%= @dealer.phone_number %></span>
			  	</li>
			  	<li>
					<%=t("mobile_number")%> :<span><%= @dealer.mobile_number %></span>
			  	</li>
			  	<li>
					<%=t("city")%> :<span><%= Dealer::City[@dealer.city.to_s] %></span>
			  	</li>
			  	<li>
					<%=t("street_name")%> :<span><%= @dealer.street_name %></span>
			  	</li>
			  	<li>
					<%=t("building_number")%> : <span><%= @dealer.building_number %></span>
			  	</li>
					
			</ul>
			<p class="locationlabel"><%=t("gallery_location")%> :</p>
			<p class="location"><%= @dealer.gallery_location %></p>
		</div>
		
	</div>
</section>
<section class="latest_offers">
	<div class="row clearfix">         			
    	<h2><%= t("Latest_Cars") %></h2>
        <%= link_to t("View_All_Latest_Added"), cars_path, class: "link_more" %>
	</div>
    <div id="latest_offers">
    	<% @latest_cars.each do |c| %>
            <div class="latest_item">
	            <%= link_to (image_tag c.car_images[0].image.url(:medium)), c %>
	            <%= link_to ("#{get_make(c.car_make)} #{get_model(c.car_model)}"), c %>
            </div>
        <% end %>
    </div>
    <a class="prev" id="latest_offers_prev" href="#"><i class="fa fa-chevron-left fa-lg"></i></a>
    <a class="next" id="latest_offers_next" href="#"><i class="fa fa-chevron-right fa-lg"></i></a>    
</section>