<p id="notice"><%= notice %></p>

<p>
  <strong>Gallery name:</strong>
  <%= @dealer.gallery_name %>
</p>

<p>
  <strong>Gallery location:</strong>
  <%= @dealer.gallery_location %>
</p>

<p>
  <strong>Street name:</strong>
  <%= @dealer.street_name %>
</p>

<p>
  <strong>Building number:</strong>
  <%= @dealer.building_number %>
</p>

<%= link_to 'Edit', edit_dealer_path(@dealer) %> |
<%= link_to 'Back', dealers_path %>
