<p id="notice"><%= notice %></p>

<h1>Listing Comfort Interiors</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comfort_interiors.each do |comfort_interior| %>
      <tr>
        <td><%= comfort_interior.title %></td>
        <td><%= link_to 'Show', comfort_interior %></td>
        <td><%= link_to 'Edit', edit_comfort_interior_path(comfort_interior) %></td>
        <td><%= link_to 'Destroy', comfort_interior, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comfort interior', new_comfort_interior_path %>
