<section id="FormCarImage" class="clearfix">
	<div class="columns medium-8">
		<div class="file_field">
			<%= f.fields_for :car_images do |image| %>
				<div class="nested-fields">
					<div class="inputimagecontainer th">
						<%= image.file_field :image , animated: false, class: "myfile" %>
						<% if(image.object.image_url.blank?) %>
							<%= image_tag("CarIcon#{image.index}.png", size: "250x52") %>
						<% else %>
							<%= image_tag(image.object.image_url, size:"250x52") %>
						<% end %>
					</div>
					<%= image.hidden_field :image_cache %>
					<% unless (image.object.id.blank?) %>
  						<%= link_to "remove" , "/cars/delete_image/#{image.object.id}", method: :delete %>
  					<% end %>
				
				</div>
			<% end %>
		</div>
	</div>
  <div class="field columns medium-4">
    <%= f.label t(:color) %>
    <%= collection_select(:car, :color_id, Color.all, :id, :title) %>
  </div>
  <div class="field columns medium-4">
    <%= f.label :interior_design, t("Interior_Design") %>
    <%= collection_select(:car, :interior_design_id, InteriorDesign.all, :id, :title) %>
  </div>
	<div class="field columns medium-4">
    <%= f.label :interior_color,t("Interior_Color") %>
    <%= collection_select(:car, :interior_color_id, InteriorColor.all, :id, :title) %>
  </div>
	<div class="field columns medium-12">
      <%= f.label :description, t("Description") %>
      <%= f.text_area :description, :rows => "3"%>
  </div>
</section>