<section id="FormCarDetail">
  <div class="medium-8 columns">
    <div class="field clearfix">
      <%= f.label t("Comfort_and_Interior_Design") %>                      
      <%= f.collection_check_boxes :comfort_interior_ids, ComfortInterior.all, :id, :title, include_hidden: false do |cb| %>
        <% cb.label(class: "checkbox inline") {cb.check_box(class:"checkbox") + cb.text} %>
      <% end %>
    </div>
    <div class="field clearfix">
      <%= f.label t("Safety_Features") %>
      <%= f.collection_check_boxes :safety_feature_ids, SafetyFeature.all, :id, :title, include_hidden: false do |cb2| %>
        <% cb2.label(class: "checkbox inline") {cb2.check_box(class:"checkbox") + cb2.text} %>
      <% end %>
    </div>
  </div>
  <div class="small-12 medium-4 columns">
    <div class="field">
      <%= f.label :contact_number, t("Phone_Number") %>
      <%= f.text_field :contact_number %>
    </div>
    <div class="field">
      <%= f.label :car_location, t("Car_location") %>
      <%= f.text_area :car_location %>
    </div>
    <% if current_user.isadmin %>
      <div class="field">
        <%= f.label :special_car %>
        <%= f.check_box :special_car %>
      </div>
    <% end %>
  </div>
</section>