<%= form_for(@car) do |f| %>
<% if @car.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>

    <ul>
    <% @car.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class="large-6 medium-6 columns">
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :car_make %>
    <%= collection_select(:car, :car_make, Make.all, :id, :title) %>
  </div>
  <div class="field">
    <%= f.label :car_model %>
    <%= f.select :car_model, options_for_select(Model.all.map{ |c| [c.title, c.id, {'parent_id'=>c.parent_id}] }, selected_key = f.object.car_model) %>
  </div>
  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :year %>
    <%= f.select :year, ((Time.zone.now.year - 50)..(Time.zone.now.year + 1)).to_a.reverse %>
  </div>
  <div class="field">
    <%= f.label :mileage %>
    <%= f.number_field :mileage %>
  </div>
  <div class="field">
    <%= f.label "Fuel Type" %>
    <%= f.select :fuel_type, Car::FUELTYPE.map{ |s| [s[1] , s[0]] } %>
  </div>
  <div class="field">
    <%= f.label "Gear Box Type" %>
    <%= f.select :gearbox_id, Car::Gearbox.map{ |s| [s[1] , s[0]] } %>
  </div><div class="field">
    <%= f.label :cubic_capacity %>
    <%= f.number_field :cubic_capacity %>
  </div>
</div>
<div class="large-6 medium-6 columns">
  <div class="field">
    <%= f.label :color_id %>
    <%= collection_select(:car, :color_id, Color.all, :id, :title) %>
  </div>
  <div class="field">
    <%= f.label :interior_design_id %>
    <%= collection_select(:car, :interior_design_id, InteriorDesign.all, :id, :title) %>
  </div>
  <div class="field">
    <%= f.label :interior_color_id %>
    <%= collection_select(:car, :interior_color_id, InteriorColor.all, :id, :title) %>
  </div>
  <div class="field">
    <%= f.label "Car Report" %>
    <%= f.select :report, Car::REPORT.map{ |s| [s[1] , s[0]] } %>
  </div>
  <div class="field">
    <%= f.label :report_other %>
    <%= f.text_area :report_other %>
  </div>
  <div class="field">
    <%= f.label :contact_number %>
    <%= f.text_field :contact_number %>
  </div>
  
  <div class="field">
    <%= f.label :car_location %>
    <%= f.text_area :car_location %>
  </div>
  
</div>
<div class="large-12 medium-12 columns">
  <div class="field">
    <%= f.label "Comfort and Interior Design" %>                      
    <%= f.collection_check_boxes :comfort_interior_ids, ComfortInterior.all, :id, :title, include_hidden: false do |cb| %>
      <% cb.label(class: "checkbox inline") {cb.check_box(class:"checkbox") + cb.text} %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label "Safety Features" %>
    <%= f.collection_check_boxes :safety_feature_ids, SafetyFeature.all, :id, :title, include_hidden: false do |cb2| %>
      <% cb2.label(class: "checkbox inline") {cb2.check_box(class:"checkbox") + cb2.text} %>
    <% end %>
  </div>
  <div class="file_field">
     <%= f.fields_for :car_images do |image| %>
       <%= render partial: 'car_image_fields' , locals:{:f => image} %>
     <% end %>
     <%= link_to_add_association "Add", f , :car_images %>
  </div>
  <% if current_user.isadmin %>
    <div class="field">
      <%= f.label :special_car %>
      <%= f.check_box :special_car %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
</div>

<% end %>
