<p id="notice"><%= notice %></p>

<p>
  <strong> title:</strong>
  <%= @car. title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @car.description %>
</p>

<p>
  <strong>Year:</strong>
  <%= @car.year %>
</p>

<p>
  <strong>Mileage:</strong>
  <%= @car.mileage %>
</p>

<p>
  <strong>Price:</strong>
  <%= @car.price %>
</p>

<p>
  <strong>Car location:</strong>
  <%= @car.car_location %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @car.contact_number %>
</p>
<p>
  <strong>Car Report:</strong>
  <%= @car.report%>
</p>
<ul>
  <% @car.comfort_interior_ids.each do |d| %>
    <li>
      <%= get_comfort_interior_title(d) %>
    </li>
  <% end %>
</ul>
<ul>
  <% @car.safety_feature_ids.each do |d| %>
    <li>
      <%= get_safety_feature_title(d) %>
    </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
