<section class="PageHead">
  <div class="AdContainer">
    <div class="row">
      <div class="columns large-12 medium-12 medium-centered large-centered">
          <div class="AdArea">Advertisement Area</div>
      </div>
    </div>
  </div>
</section>
<section class="PageTitle">
  <div class="row">
    <div class="columns large-12 medium-12 medium-centered large-centered">
      <h2 class="detailedTitle"><span><%= get_make(@car.car_make) %></span> <%= get_model(@car.car_model) %></h2>
    </div>
  </div>
</section>
<section class="CarDetailMainArea">
  <div class="row">
    <div class="large-6 medium-6 columns ">
      <div id="slider" class="flexslider">
        <ul class="slides ulStyle">
          <% @car.car_images.each do |d| %>
            <li>
              <%= image_tag d.image.url(:car_main) %>
            </li>
          <% end %>
        </ul>
      </div>
      <div id="carousel" class="flexslider">
        <ul class="slides ulStyle">
          <% @car.car_images.each do |d| %>
            <li>
              <%= image_tag d.image.url(:thumb) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="large-6 medium-6 columns CarDetailArea">
      <% unless @car.price.blank? %>
        <span class="price"><strong><%= @car.price %> JD</strong></span>
      <% end %>
      <ul class="ulStyle CarInlineList">
        <li>
          <%= @car.year %>
        </li>
        <% unless @car.mileage.blank? %>
        <li>
          <%= @car.mileage %> KM
        </li>
        <% end %>
        <li>
          <%= Car::FUELTYPE[@car.fuel_type.to_s] %>
        </li>
        <li>
          <%= Car::Gearbox[@car.gearbox_id.to_s] %>
        </li>
      </ul>
      <p class="description">
        <%= truncate(@car.description , :length => 200,  :separator => ' ') do
          link_to "see more..." ,"#Description"
        end %>
      </p>
      <ul class="ulStyle CarDetails ">
        <% unless @car.cubic_capacity.blank? %>
        <li>
          <span class="lable">Cubic Capacity: </span>
          <span class="value"><%= @car.cubic_capacity %></span>
        </li>
        <% end %>
        <li class="even">
          <span class="lable">Color: </span>
          <span class="value"><%= get_color(@car.color_id) %></span>
        </li>
        <li>
          <span class="lable">Interior Design : </span>
          <span class="value"><%= get_interior_design(@car.interior_design_id) %></span>
        </li>
        <li class="even">
          <span class="lable">Interior Color : </span>
          <span class="value"><%= get_interior_color(@car.interior_color_id) %></span>
        </li>
        
        <li> 
          <span class="lable">Car Report : </span>
          <span class="value"><%= Car::REPORT[@car.report.to_s] %></span>
        </li>
      </ul>
      <% if @car.report == 4 %>
        <div class="ReportOther">
          <p>Car Report Details:</p>
          <p><%= @car.report_other %></p>
        </div>
      <% end %>
    </div>
    <div class="large-12 medium-12 columns CarDetailTabs">
      <ul data-options="deep_linking: true" class="tabs" data-tab>
        <li class="tab-title active"><a href="#Overview">Overview</a></li>
        <li class="tab-title"><a href="#Description">Description</a></li>
        <li class="tab-title"><a href="#Contact">Contact Owner</a></li>
      </ul>
      <div class="tabs-content">
        <div class="content active clearfix" id="Overview">
         <% unless @car.comfort_interior_ids.blank? %>
            <div class="overview large-6 medium-6 columns">
              <span><strong>Comfort Interior :</strong></span>
              <ul>
                <% @car.comfort_interior_ids.each do |d| %>
                  <li>
                    <%= get_comfort_interior_title(d) %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <% unless @car.safety_feature_ids.blank? %>
            <div class="overview large-6 medium-6 columns">
              <span><strong>Safety Features :</strong></span>
              <ul>
                <% @car.safety_feature_ids.each do |d| %>
                  <li>
                    <%= get_safety_feature_title(d) %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
        <div class="content" id="Description">
            <h3><%= @car.title %></h3>
            <p><%= @car.description %></p> 
        </div>
        <div class="content clearfix" id="Contact">
          <div class="contact large-6 medium-6 columns">
            <% if(@user.meta_type == "Dealer") %>
              <%= link_to "Dealer Page" , dealer_path(@user.meta_id) %>
            <% else %>
              <%= link_to "Member Page" , member_path(@user.meta_id) %>
            <% end %>
            <p class="phone"><span>Phone  Number: </span><%= @car.contact_number %></p>
            <span class="locationLable">Car location</span>
            <p class="Location"><%= @car.car_location %></p>
          </div>
          <div class="contact large-6 medium-6 columns">
            <%= form_tag({:controller => "cars", :action => "contact_submit"}, method: :post,"data-abide" => true) do %>
              <%= hidden_field_tag :carId, @car.id %>
              <%= hidden_field_tag :ownerId, @car.user_id %>
              <div class="input-wrapper">
                <%= label_tag :senderName, 'Name' %>
                <%= text_field_tag :senderName,nil, :required => true, :placeholder => "Enter Name" %>
                <small class="error">A Name is required.</small>
              </div>
              <div class="input-wrapper">
                <%= label_tag :senderEmail, 'Email' %>
                <%= text_field_tag :senderEmail,nil, :required => true, :placeholder => "Enter Email", :type => "email" %>
                <small class="error">A valid email address is required.</small>
              </div>
              <div class="input-wrapper">
                <%= label_tag :senderMessage, 'Message' %>
                <%= text_area_tag :senderMessage,nil, :required => true, :placeholder => "Enter Message", :rows => "5" %>
                <small class="error">A Message is required.</small>
              </div>
              <%= submit_tag 'Send', :class => "button tiny buttoncustom" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="latest_offers">
  <div class="row clearfix">              
      <h2>LATEST CARS IN SHOWROOM</h2>
        <a href="#" class="link_more">View All Latest Added</a>
  </div>
    <div id="latest_offers">
      <% @latest_cars.each do |c| %>
            <div class="latest_item">
              <%= link_to (image_tag c.car_images[0].image.url(:homepage_carousel)), c %>
              <%= link_to ("#{get_make(c.car_make)} #{get_model(c.car_model)}"), c %>
            </div>
        <% end %>
    </div>
    <a class="prev" id="latest_offers_prev" href="#"><i class="fa fa-chevron-left fa-lg"></i></a>
    <a class="next" id="latest_offers_next" href="#"><i class="fa fa-chevron-right fa-lg"></i></a>    
</section>