<!DOCTYPE html>
<%if I18n.locale == :en %>
  <html lang="en">
<% else %>
  <html lang="ar" dir="rtl">
<% end %>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
    <%if I18n.locale == :en %>
      <%= stylesheet_link_tag    "application" %>
    <% else %>
      <%= stylesheet_link_tag    "application-rtl" %>
    <% end %>
    
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="contain-to-grid MainNavBar">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><a href="/"><%= image_tag("Logo2.png", size: "250x52") %></a></h1>
          </li>
        </ul>
        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right-area">
            <li class="has-dropdown">
              <%if I18n.locale == :en %>
                <a href="javascript:void(0);"><%= t("English") %></a>
              <% else %>
                <a href="javascript:void(0);"><%= t("Arabic") %></a>
              <% end %>
              <ul class="dropdown">
                <%if I18n.locale == :en %>
                  <li><%= link_to t("Arabic"), set_language_arabic_path, data: { no_turbolink: true } %></li>
                <% else %>
                  <li><%= link_to t("English"), set_language_english_path, data: { no_turbolink: true } %></li>
                <% end %>
              </ul>
            </li>
            <% if user_signed_in? %>
              <li class="has-dropdown">
                <% if current_user.meta_type == 'Dealer' %>
                  <%= link_to raw("<i class='fa fa-user'></i>"), dealer_path(current_user.meta_id), :class => "UserIcon" %>
                <% elsif current_user.meta_type == 'Member' %>
                  <%= link_to raw("<i class='fa fa-user'></i>"), member_path(current_user.meta_id), :class => "UserIcon" %>
                <% end %>
                <ul class="dropdown">
                  <li><%= link_to t('Create_Car'), new_car_path %></li>
                  <% if current_user.meta_type == 'Dealer' %>
                  <li><%= link_to t('Edit_Profile'), edit_dealer_path(current_user.meta_id) %></li>
                  <% elsif current_user.meta_type == 'Member' %>
                    <li><%= link_to t('Edit_Profile'), edit_member_path(current_user.meta_id) %></li>
                  <% end %>
                  <% if authenticate_admin? %>
                    <li><%= link_to t('Admin_Page'), admin_path() %></li>
                  <% end %>
                  <li><%= link_to t('Log_out'), destroy_user_session_path, :method => :delete%></li>
                </ul>
              </li>
              
            <% else %>
              <li><%= link_to t('Login'), new_user_session_path %></li>
              <li class="has-dropdown">
                <a href="javascript:void(0);"><%= t("Sign_Up") %></a>
                <ul class="dropdown">
                  <li><%= link_to t('Sign_Up_Seller'), new_member_path %></li>
                  <li><%= link_to t('Sign_Up_Dealer'), new_dealer_path %></li>
                </ul>
              </li>
            <% end %>
          </ul>
          <!-- Left Nav Section -->
        </section>
      </nav>
    </div>
    
    <%= yield %>
    <div class="footer">
      <div class="row clearfix">
            <div class="footer-link">
                <ul class="ulStyle">
                    <li><a href="/cars"><span><%= t("Buy_a_car") %></span></a></li> 
                    <li><a href="/cars/new"><span><%= t("Sell_your_Car") %></span></a></li>
                    <li><a href="#"><span><%= t("Terms_&_Conditions") %></span></a></li> 
                </ul>
            </div>       
            <div class="footer_social">
              <div class="social_inner"> 
                <a href="#" class="social-fb"><i class="fa fa-facebook-official"></i></a>
                <a href="#" class="social-twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="social-google"><i class="fa fa-google-plus"></i></a>
                </div>
        </div>
            
            <div class="footer_contacts">
              <span class="phone"><i class="fa fa-phone"></i> 0788833382 - 0799833328</span>
                <span class="email">hello@autotrader.com</span>
            </div>
            
            <div class="copyright">
            MotorsJo.com by <a href="javascript:void(0)">DotsWorld</a>
            </div>
                      
        </div> 
    </div>
  </body>
</html>
