<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div data-alert class="alert-box warning">
      <ul>
      <% @member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="userInfo large-6 columns">
    <div class="field">
      <%= f.label t(:first_name) %>
      <%= f.text_field :first_name %>
    </div>
    <div class="field">
      <%= f.label t(:last_name) %>
      <%= f.text_field :last_name %>
    </div>
    <div class="field">
      <%= f.label t(:phone_number) %>
      <%= f.text_field :phone_number %>
    </div>
    <div class="field">
      <%= f.label t(:address)%>
      <%= f.text_area :address %>
    </div>
  </div>
  <div class="userLoginInfo large-6 columns">
    <div class="innerUserLoginInfo">
      <%= f.fields_for :user do |u| %>
        <div class="col-lg-6">      
          <%= u.label t(:email) %>
          <%= u.text_field :email %>
        </div>
        
        <div class="col-lg-6">
          <%= u.label t(:password) %>
          <%= u.password_field :password %>
        </div>
        
        <div class="col-lg-6">
          <%= u.label t(:password_confirmation) %>
          <%= u.password_field :password_confirmation %>
        </div>    
      <% end %>
      <div class="actions text-center">
        <%= f.submit t("sign_in"), :class => 'button tiny buttoncustom createCar' %>
      </div>
    </div>
  </div>
  
<% end %>
