<%
  set_meta_tags title: @member.first_name+ " " + @member.last_name,
                keywords: @customKeywords + "," + @member.first_name + "," + @member.last_name,
                author: @member.first_name+ " " + @member.last_name,
                publisher: @member.first_name+ " " + @member.last_name
    if(!@member_cars.blank?)
	  	set_meta_tags  og: {
        og: {
          title:    @member.first_name+ " " + @member.last_name,
          type:     'website',
          url:      request.original_url,
          image:    [{
            _: "http://"+request.domain+@member_cars.last.car_images[0].image.url(:car_main),
            width: 470,
            height: 338,
          }]
        },
        twitter: {
          card:  "photo",
          image:    {
            _: "http://"+request.domain+@member_cars.last.car_images[0].image.url(:car_main),
            width: 470,
            height: 338,
          }
        }
      }
    end
%>
<section class="PageHead">
  <div class="AdContainer">
    <div class="row">
      <div class="columns large-12 medium-12 medium-centered large-centered">
          <div class="AdArea">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- ????? -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:728px;height:90px"
                 data-ad-client="ca-pub-9051649943133421"
                 data-ad-slot="1612164192"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </div>
      </div>
    </div>
  </div>
</section>
<section class="PageTitle">
  <div class="row">
    <div class="columns large-12 medium-12 medium-centered large-centered">
      <h2 class="detailedTitle"><span><%= @member.first_name %> <%= @member.last_name %></span></h2>
    </div>
  </div>
</section>
<section class="UserInfoSection">
	<div class="row">
		<div class="large-8 columns car-search">
	      <ul class="ulStyle">
	      <% @member_cars.each do |s| %>
	        <li class="carsItem clearfix">
	          <%= link_to (image_tag s.car_images[0].image.url(:search)), s ,:class => "carimage" %>
	          <ul class="ulStyle infolist">
	            <li class="title"><span><%= get_make(s.car_make) %></span> <span class=""><%= get_model(s.car_model) %></span></li>
	            <li class="desc">
	            <%= truncate(s.description , :length => 200,  :separator => ' ') do
	              link_to "see more..." ,car_path(s,:anchor => "Description")
	            end %>
	            </li>
	            <li class="info">
	              <span class="mileage"><i class="fa fa-tachometer"></i><%= s.mileage %> <%=t("KM")%></span>
	              <span class="year"><%= s.year %></span>
	              <span class="price"><%= s.price %> <%=t("JD")%></span>
	            </li>
	          </ul>
            <% if (current_user == @member.user) %>
              <%= link_to(('<i class="fa fa-cog"></i>').html_safe , edit_car_path(s),:class => "carEdit") %>
              <%= link_to(('<i class="fa fa-trash"></i>').html_safe ,car_path(s), method: :delete, data: { confirm: 'Are you sure?' },:class => "carDestroy") %>
            <%end%>
	        </li>
	      <% end %>
	      </ul>
	      <div class="pagerArea pagination-centered">
	        <%= will_paginate @member_cars %>
	      </div>
	    </div>
		<div class="columns large-4 medium-4 UserInfo" >
			<ul class="ulStyle">
				<li class="text-center Title"><%=t("member_information")%></li>
				<li>
					<%=t("name")%> :<span><%= @member.first_name %> <%= @member.last_name %></span>
			  	</li>
			  	<li>
					<%=t("phone_number")%> : <span><%= @member.phone_number %></span>
			  	</li>
			</ul>
			<p class="locationlabel"><%=t("Car_location")%> :</p>
			<p class="location"><%= @member.address %></p>
		</div>
	</div>
</section>
<section class="latest_offers">
	<div class="row clearfix">
    	<h2><%= t("Latest_Cars") %></h2>
        <%= link_to t("View_All_Latest_Added"), cars_path, class: "link_more" %>
	</div>
    <div id="latest_offers">
    	<% @latest_cars.each do |c| %>
            <div class="latest_item">
	            <%= link_to (image_tag c.car_images[0].image.url(:homepage_carousel)), c %>
	            <%= link_to ("#{get_make(c.car_make)} #{get_model(c.car_model)}"), c %>
            </div>
        <% end %>
    </div>
    <a class="prev" id="latest_offers_prev" href="#"><i class="fa fa-chevron-left fa-lg"></i></a>
    <a class="next" id="latest_offers_next" href="#"><i class="fa fa-chevron-right fa-lg"></i></a>
</section>
