<section class="PageHead">
  <h2 class="detailedTitle"><span><%= @member.first_name %> <%= @member.last_name %></span></h2>
</section>
<section class="UserInfoSection">
	<div class="row">
		<div class="large-8 columns car-search">
	      <ul class="ulStyle">
	      <% @member_cars.each do |s| %>
	        <li class="carsItem clearfix">
	          <%= link_to (image_tag s.car_images[0].image.url(:search)), s ,:class => "carimage" %>
	          <ul class="ulStyle infolist">
	            <li class="title"><span><%= get_make(s.car_make) %></span> <span class=""><%= get_model(s.car_model) %></span></li>
	            <li class="desc">
	            <%= truncate(s.description , :length => 200,  :separator => ' ') do
	              link_to "see more..." ,car_path(s,:anchor => "Description")
	            end %>
	            </li>
	            <li class="info">
	              <span class="mileage"><i class="fa fa-tachometer"></i><%= s.mileage %> KM</span>
	              <span class="year"><%= s.year %></span>
	              <span class="price"><%= s.price %> JD</span>
	            </li>
	          </ul>
	        </li>
	      <% end %>
	      </ul>
	    </div>
		<div class="columns large-4 medium-4 UserInfo" >
			<ul class="ulStyle">
				<li class="text-center Title">Member Information</li>
				<li>
					Name :<span><%= @member.first_name %> <%= @member.last_name %></span>
			  	</li>
			  	<li>
					Phone Number : <span><%= @member.phone_number %></span>
			  	</li>
			</ul>
			<p class="locationlabel">Location :</p>
			<p class="location"><%= @member.address %></p>
		</div>
		
	</div>
</section>