<section class="UserInfoSection">
	<div class="row">
		<div class="columns large-12 medium-12" >
			<div class="columns large-4 medium-4">
				<span>Name :</span>
				<%= @member.first_name %>

				<%= @member.last_name %>
			</div>
			<div class="columns large-4 medium-4">
				<span>You can contact me at :</span>
			  	<%= @member.phone_number %>
			</div>
			<div class="columns large-4 medium-4">
				<span>Address : </span>
			  	<%= @member.address %>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="row">
		<div class="large-8 medium-8 columns verCarList medium-centered large-centered">
	      <ul class="ulStyle">
	      <% @member_cars.each do |s| %>
	      	<li class="carsItem large-4 medium-4 columns medium-centered large-centered">
	      		<ul class="ulStyle">
			        <li>
			          <%= link_to (image_tag s.car_images[0].image.url(:small)), s ,:class => "inlineBlockImage" %></li>
		            <li><%= s.title %></li>
		            <li><span><%= get_make(s.car_make) %></span><span class="marginLeft5"><%= get_model(s.car_model) %></span></li>
		            
		            <li><%= s.year %></li>
		            <li><span><%= link_to 'Edit', edit_car_path(s) %></span></li>
	            </ul>
            </li>
	      <% end %>
	      </ul>
    	</div>
	</div>
</section>